body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #435971;
}

main{
    padding: 0 60px;
}

h1{
    font-size: 54px;
    line-height: 1.4;
}

h2{
    font-size: 34px;
    font-weight: 400;
}

p{
    font-size: 18px;
    font-weight: 300;
}

/*contact form*/
.contact-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
input, textarea {
    width: 95%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Poppins;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins;
}
button:hover {
    background-color: #008000;
}
/*contact form*/

.button {
    background-color: #D7FF00;
    border: none;
    color: #00542A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .button_n{
    background-color: #D7FF00;
    border: none;
    color: #00542A !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
  }

  .button_blog{
    background-color: #00542A;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 20px;
  }

/*nav*/
.logo img{
    width: 220px;
}

nav {
    background: #008000;
    padding: 0 60px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    display: block;
    padding: 10px;
}

.nav-links a:hover {
    color: #D7FF00;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    list-style: none;
    width: 150px;
    padding: 0;
}

.dropdown-menu li {
    text-align: center;
}

.dropdown-menu a {
    color: white;
    display: block;
    padding: 10px;
    width: 100%;
}

.dropdown-menu a:hover {
    background: #f4a261;
    color: #333;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
/*nav*/

.blog_detail{
    padding: 60px 120px;
}

.header{
    background: url(../img/headerbanner_webdesign.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: #fff;
    padding: 100px 60px;
}

.blog{
    background-color: #dbff79;
    text-align: center;
    padding: 10px 60px;
    color: #008000;
}

#question-container{
    background-color: none !important;
}

.form, .blog_layout{
    display: flex;
    padding: 50px 60px;
}

.contact{
    padding: 80px 60px 40px 60px;
}

.layout{
    width: 50%;
    padding: 0 40px;
}

.services{
    display: flex;
    padding: 0;
    text-align: center;
    width: 100%;
}

.services_home{
    width: 33.33%;
    padding: 0;
}

.web{
    padding: 40px 30px;
    background-color: #ff;
}

.graphic{
    padding: 40px 30px;
    background-color: #F3F3F3;
}

.social{
    padding: 40px 30px;
    background-color: #E9E9E9;
}

.web h3, .graphic h3, .social h3{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.web p, .graphic p, .social p{
    font-size: 16px;
}

.title_header{
    width: 60%;
}

.empty, .form_text{
    width: 40%;
}

.website{
    background: url(../img/blogwebsite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.webdesigner{
    background: url(../img/2025_mar_webdesigner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

li{
    list-style: none;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: #435971;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

footer{
    height: 50px;
    background-color: #008000;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333;
    }

    .nav-links li {
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .dropdown-menu {
        position: static;
        display: none;
        width: 100%;
        background: #444;
    }

    nav {
        padding: 5px 30px;
    }

    .header, .form, .blog_layout{
        display: block;
        padding: 40px 30px;
    }

    .blog_detail{
        padding: 30px;
    }

    .title_header, .form_text{
        width: 100%;
    }
    
    .layout{
        width: 100%;
        padding: 0;
    }

    .services{
        display: block;
    }
    
    .services_home{
        width: 100%;
        padding: 0;
    }

    input, textarea {
        width: 85%;
        padding: 20px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        /*max-width: 380px;*/
    }

    form button {
        width: 95%;
    }
    
    .empty{
       display: none;
    }

    main{
        padding: 0 30px;
    }
}
