body{
    margin: 0;
    padding: 0;
    font-family: Figtree,Arial,Helvetica;
    color: #333;
}

main{
    padding: 0 60px;
}

h1{
    font-size: 3.9rem;
    line-height: 4.8rem;
    font-weight: 600;
}

h2{
    font-size: 34px;
    font-weight: 400;
}

h3{
    font-size: 1.4rem; 
    font-weight: 600;
}

h4{
    font-size: 34px; 
    font-weight: 600;
}

h5{
    font-size: 20px; 
    font-weight: 500;
}

p{
    font-size: 16px;
    font-weight: 200;
    line-height: 1.8rem;
}

.lrKTG>.Dq4amc, .xpWfed{
    display: none;
}

.whoserve1{
    display: flex;
    padding: 120px 60px 60px 60px;
    align-items: center;
}

.whoserve2{
    display: flex;
    background: url(../img/bg_webdesign.jpg);
    background-color: #f6f6f6;
    padding: 80px 60px;
}

.portfolio_home, .plan{
    display: flex;
    padding: 100px 60px;
    align-items: center;
    justify-content: center;
}

.portfolio_home div, .whoserve1 div, .whoserve2 div{
    width: 50%;
}

.whoserve2 h5{
    margin-top: 20px;
    margin-bottom: 5px;
}

.portfolio_home h4{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}

.portfolio_home p{
    font-size: 1.1rem;
}

.portfolio_home div img, .whoserve2 div img{
    width: 90%;
    padding-left: 80px;
}

.smallbusiness{
    padding-left: 5%;
}

.whoserve1 ul{
    font-size: 20px;
    line-height: 40px;
    margin-left: -20px;
}

.whoserve1 ul li{
    list-style-type: disc;
}

.whoserve1 div img{
    width: 100%;
    padding-left: 0;
}

.plan{
    display: block;
    padding: 0 60px 0 60px;
    text-align: center;
}

.plan h4{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0;
}

.plan p{
    font-size: 1.1rem;
}

/*subs page*/
.sub{
    display: flex;
    padding: 140px 60px;
    background: url(../img/bg_webdesign.jpg);
    align-items: center;
    justify-content: center;
}

.sub div{
    width: 50%;
}

.sub div img{
    width: 90%;
    padding-left: 80px;
}

.sub2{
    display: flex;
    padding: 60px 60px;
    align-items: center;
    justify-content: center;
}

.sub2 div{
    width: 50%;
}

.sub2 div img{
    width: 65%;
    padding-right: 80px;
}

.sub3{
    display: flex;
    padding: 60px 0 60px 60px;
    align-items: center;
    justify-content: center;
}

.sub4{
    background-color: #f2f8f2;
    display: flex;
    padding: 20px 30px 50px 30px;
    /*align-items: center;
    justify-content: center;*/
}

.sub3 div{
    width: 50%;
}

.sub4 div{
    width: 50%;
    padding: 0 30px 0 30px;
}

.sub3 img{
    width: 75%;
    padding-left: 25%;
}

/*subs page*/

/*contact form*/
.contact-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
input, textarea {
    width: 95%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Poppins;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins;
}
button:hover {
    background-color: #008000;
}
/*contact form*/

.button {
    background-color: #008000;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .button_n{
    background-color: #D7FF00;
    border: none;
    color: #00542A !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
  }

  .button_blog{
    background-color: #00542A;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 20px;
  }

/*nav*/
.logo img{
    width: 220px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 1.3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(0,0,0,.5);
}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #008000;
    transition: .5s;
}

.icons{
    font-size: 2.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

nav a{
    font-size: 1rem;
    height: 100%;
    margin-left: 2.5rem;
    text-decoration: none;
    color:  #fff;
}

.nav a:hover {
    color: #D7FF00;
}

nav ul{
    display: flex;
    list-style: none;
}

#check{
    display: none;
}


/*break points*/
@media (max-with: 992px){
    header{
        padding: 1rem 5%;
    }
}

@media screen and (max-width: 768px) {
    h1{
    font-size: 3rem;
    line-height: 3.5rem;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 1.2rem; 
}

h4{
    font-size: 30px; 
}
    .icons{
        display: inline-flex;
    }

    .logo img{
    width: 180px;
    }

    #check:checked~.icons #menu-open{
        display: none;
    }

    .icons #menu-close{
        display: none;
    }

    #check:checked~.icons #menu-close{
        display: block;
    }

    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #008000;
        backdrop-filter: blur(50px);
        box-shadow: 1 .5rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        transition: .3s ease;
    }

    nav ul{
        display: block;    
    }

    nav li{
       margin-left: -20px;
    }

    #check:checked~nav{
        display: block;
        height: 23rem;
    }

    nav a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~nav a{
        transform: translateY(0);
    }

    .contact{
    padding: 50px 20px 40px 20px;
}
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    list-style: none;
    width: 150px;
    padding: 0;
}

.dropdown-menu li {
    text-align: center;
}

.dropdown-menu a {
    color: white;
    display: block;
    padding: 10px;
    width: 100%;
}

.dropdown-menu a:hover {
    background: #f4a261;
    color: #333;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
/*nav*/

.blog_detail{
    padding: 60px 120px;
}

.header{
    background: url(../img/headerbanner_webdesign_nov242025.webp);
    background-size: cover;
    background-position: center right 0;
    background-repeat: no-repeat;
    display: flex;
    color: #fff;
    padding: 170px 0px 150px 150px;
}

.blog{
    background-color: #eaeaea;
    text-align: center;
    padding: 140px 60px 40px 60px;
    color: #6F6F6F;
}

#question-container{
    background-color: none !important;
}

.blog_layout{
    display: flex;
    padding: 50px 60px;
}

.contact{
    padding: 50px 60px 40px 60px;
    text-align: center;
}

.layout{
    width: 50%;
    padding: 0 40px;
}

.services{
    display: flex;
    padding: 0;
    text-align: center;
    width: 100%;
}

.services_landing{
    display: flex;
    text-align: center;
    padding: 0 60px 0 60px;
    justify-content: space-evenly;
}

.services_home{
    width: 33.33%;
    padding: 0;
}

.price{
    width: 25%;
    padding: 0;
}

.web{
    padding: 60px 30px 31px 30px;
    background-color: #E9E9E9;
}

.service1{
    padding: 60px 30px 0 30px;
    background-color: #fff;
}

.service1 h3{
 font-weight: 300;
 margin-bottom: 0;
}

.service1 p{
    font-size: 1.1rem;
   }

.graphic{
    padding: 60px 30px;
    background-color: #F3F3F3;
}

.social{
    padding: 60px 30px;
    background-color: #E9E9E9;
}

/*accordian*/

.accordion {
    max-width: 100%;
    padding: 60px;
    overflow: hidden;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-item:last-of-type {
    border-bottom: none;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    /*background-color: #f7f7f7;*/
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .accordion-header:hover {
    background-color: #eaeaea;
  }
  
  .icon {
    transition: transform 0.3s ease;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 16px;
    background-color: #fff;
  }
  
  .accordion-content p {
    margin: 12px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .accordion-item input {
    display: none;
  }
  
  .accordion-item input:checked ~ .accordion-content {
    max-height: 200px;
    padding: 12px 16px;
  }
  
  .accordion-item input:checked + .accordion-header .icon {
    transform: rotate(45deg);
  }
/*accordian*/

.web h3, .graphic h3, .social h3{
    font-size: 1.4rem; 
    font-weight: 600;
    text-transform: uppercase;
}

.web p, .graphic p, .social p{
    font-size: 16px;
}

.title_header{
    width: 50%;
}

.empty{
    width: 40%;
}

.blog_home_pic{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../img/landing_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
}

.blog_home_pic h1{
    font-size: 3.8rem;
    margin-top: 20px;
    font-weight: 600;
}

.blog_home_pic p{
    font-size: 18px;
    font-weight: 100 !important;
    margin-top: 100px;
}

.blog_home_link{
    text-align: center;
    padding: 130px 20%;
}

/*who we serve*/
.serve_home_pic{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../img/bg_whoweserve.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
}

.serve_home_pic h1{
    font-size: 3.8rem;
    margin-top: 20px;
    font-weight: 600;
}

.serve_home_pic p{
    font-size: 18px;
    font-weight: 100 !important;
}

.serve_home_link{
    text-align: center;
    padding: 130px 10%;
}
/*who we serve*/

.trend{
    background: url(../img/lessismore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.seo{
    background: url(../img/seo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.website{
    background: url(../img/blogwebsite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.webdesigner{
    background: url(../img/2025_mar_webdesigner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.prostitucion{
    background: url(../img/compaining_women.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

.sbusiness{
    background: url(../img/smallbusiness.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

li{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: #435971;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

footer{
    background-color: #002F00;
    color: #fff;
    padding: 30px 60px;
}

.footer_c{
 display: flex;
}

.footer_c div{
    width: 50%;
}

.footer_c .right{
    text-align: right;
}

.copywrite{
    background-color: #002F00;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.copywrite p{
    font-size: 14px !important;
    color: #929292;
}


@media (max-width: 768px) {
.header{
    background: url(../img/headerbanner_nov242025_mobile.jpg);
    background-size: cover;
    background-position: center right 0;
    background-repeat: no-repeat;
}
    
    .blog_home_pic h1{
    font-size: 3rem;
}

    .dropdown-menu {
        position: static;
        display: none;
        width: 100%;
        background: #444;
    }

    .blog_home_link{
        text-align: center;
        padding: 30px 7%;
    }
    
    /*subs page*/
    .sub, .sub3{
        display: block;
        padding: 90px 30px;
    }

  .portfolio_home, .whoserve1{
        display: block;
        padding: 30px 30px;
    }

    .sub4{
        display: block;
        padding: 90px 30px 40px 30px;
    }

    .sub2{
        flex-direction: column;
        padding: 40px 30px;
        flex-direction: column-reverse;
    }

    .sub div, .sub2 div, .sub3 div, .portfolio_home div, .whoserve1 div, .whoserve2 div{
        width: 100%;
    }

    .smallbusiness{
        padding-right: 5%;
    }

    .whoserve2{
        display: flex;
        flex-direction: row;
        flex-direction: column-reverse;
    }
    
    .sub4 div{
        width: 100%;
        padding: 0;
    }

    .sub div img, .sub2 div img, .sub3 div img, .portfolio_home div img, .whoserve1 div img, .whoserve2 div img{
        width: 100%;
        padding-left: 0;
    }
    
    .title{
        display: none;
    }
     /*subs page*/

    .header, .blog_layout{
        display: block;
        padding: 90px 30px;
    }

    .form{
        background: #008000;
        display: flex;
        padding: 0 30px 20px 30px;
        display: block;
    }

    .blog_detail{
        padding: 30px;
    }

    .form_text{
        width: 100%;
    }

    .title_header{
        width: 100%;
    }

    .blog_home{
        width: 100%;
        padding: 20px 30px 50px 30px;
    }
    
    .layout{
        width: 100%;
        padding: 0;
    }

    .services, .services_landing{
        display: block;
    }
    
    .services_home, .price{
        width: 100%;
        padding: 0;
    }

    .web, .graphic,  .social, .service1{
        padding: 40px 30px;
    }

    input, textarea {
        width: 85%;
        padding: 20px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        /*max-width: 380px;*/
    }

    form button {
        width: 95%;
    }
    
    .empty{
       display: none;
    }

    main{
        padding: 0 30px;
    }

    .footer_c{
        display: block;
       }
       
    .footer_c div{
           width: 100%;
           text-align: center;
       }
    .footer_c .right{
        text-align: center;
    }

    .copywrite{
    padding: 20px 30px 20px 30px;
}
}
